<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let c of componentes">
    <ion-item
      [routerLink]="c.path"
      detail="detail"
    >
      <ion-label>{{c.name}}</ion-label>

      <ion-icon
        [name]="c.icon"
        slot="start"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <hr>

  <div style="overflow-x: scroll; white-space: nowrap;">
    <ion-button
      *ngFor="let c of componentes"
      [routerLink]="c.path"
    >{{c.name}}</ion-button>
  </div>
</ion-content>