<app-cabecera [titulo]="titulo"></app-cabecera>

<ion-content padding>

  <ion-button expand="full" color="warning" (click)="presentAlert()">
  Alerta basica <ion-icon class="ion-padding" name="alert"></ion-icon>
  </ion-button>

  <ion-button expand="full" color="danger" (click)="presentAlertConfirm()">
      Alerta de Confirmacion <ion-icon class="ion-padding" name="flag"></ion-icon>
      </ion-button>

      <ion-button expand="full" color="primary" (click)="presentAlertPrompt()">
          Alerta de Formulario <ion-icon class="ion-padding" name="clipboard"></ion-icon>
          </ion-button>    
  

  </ion-content>  